@font-face {
    font-family: "Host Grotesk";
    src: url("./fonts/HostGrotesk-VariableFont_wght.ttf") format("truetype");
}

body{
    font-family: "Host Grotesk", sans-serif;
    margin:0;
    background-color: #002A32;
    color: #F7F7F7;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    border-bottom: 4px solid #F7F7F7;

}

header img {
    height: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_window {
    width: 800px;
    height: 800px;
    background-color: #002A32;
    border: 4px solid #f4ff1c;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    
}

.overlay_left {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay_left img {
    width: 250px;
    border-radius: 16px;;
}

.overlay_right {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.upper_overlay_window {
    display: flex;

}

.lower_overlay_window {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower_overlay_window span {
    margin-left: 10px;
    margin-right: 10px;
}

.lower_overlay_window button {
    background-color: #F2FF1C;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/BG.png);
    background-size: cover;
    background-position: center;
}

.main_area {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/BG.png);
    background-size: cover;
    background-position: center;    
}

.main_left {
    height: calc(100vh - 258px);
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #F2FF1C;
    border-bottom: 4px solid #F2FF1C;
}

.max_width_1920 {
    max-width: 1920px;
}

.main_left h2 {
    font-size: 40px;
}

#activ_card img{
    width: 300px;
    object-fit: contain;
    border-radius: 15px;
}

.info {
    height: 300px;
    width: 300px;
    border: 2px solid #F2FF1C;
    margin-top: 20px;
}

#commander img {
    height: 200px;
    border-radius: 8px;
}


.main_right {
    height: calc(100vh - 258px);

    padding: 25px;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
}

.main_right h2 {
    margin-left: 5px;
}

.main_right img {
    height: 100px;
    border-radius: 3px;
    margin: 5px;
}

.cards {
    transition: all 75ms ease ;
}

.cards:hover {
    border: 1px solid #F2FF1C;
    scale: 1.15                     ;
    box-sizing: border-box;
    cursor: pointer;
}

footer {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 1920px;
    display: flex;
    justify-content: flex-end;
}
.content_policy {
    width: 800px;
    font-size: 12px;
}

.content_policy p{
    margin: 0;
}

.d_none {
    display: none;
}

.content_policy_link {
    display: none;
}

.text_policy {
    height: calc(100vh - 204px);
    width: 530px;
}

.content_policy_link {
    display: none;
}


.close_button {
    border: none;
    height:10px;
    width: 10px;
    color:#F2FF1C;
    font-weight: 700;
    background-color: #002A32;
    margin-right: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    position: relative;
    top: 2px;
    left: 774px;


}

.flex_center {

}

.close_button:hover {
    box-sizing: border-box;
    cursor: pointer;
}

@media (max-width: 810px) {

    .content_policy {
        display: none;
    }

    .content_policy_link {
        display: flex;
        margin: 20px;
    }

    .content_policy_link a {
        color: white;
    }

    .overlay_window {
        width: 600px;
        height: 600px;
    }

    .overlay_left {
        width: 300px;
        height: 500px;
    }

    .overlay_right {
        width: 300px;
        height: 500px;
    }

    .close_button {
        top: 2px;
        left: 574px;
    }
}

@media (max-width: 640px) {
    .main_left {
        height: calc(100vh - 254px);
        width: auto;
        border-bottom: none;

    }

    #activ_card img {
        width: 180px
    }

    .main_left h2 {
        font-size: 20px;
    }

    .main_right {
        width: auto;
        padding: 5px;
    }

    .main_right h2 {
        font-size: 20px;
    }

    .overlay_window {
        width: 400px;
        height: 700px;
        font-size: 16px;
    }

    .upper_overlay_window {
        flex-direction: column;
    }

    .overlay_left {
        width: 390px;
        height: 300px;
    }

    .overlay_left  img {
        width: 150px;
    }

    .overlay_right {
        width: 390px;
        height: 300px;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 0;
    }

    .text_policy {
    width: 300px;
    }

    .close_button {
        top: 2px;
        left: 374px;
    }
}

@media (max-width: 495px) {

    .main_left {
        display: none ;
    }

    .main_right {
        width: auto;
        height: calc(100vh - 254px);
        align-items: center;
    }

    .main_right img {
        height: 170px;
        border-radius: 8px ;
    }

    .overlay_window {
        width: 305px;
    }

    .overlay_left {
        width: 305px;
    }

    .overlay_right {
        width: 305px;
    }

    .overlay_right p {
        padding: 5px;
    }

    .close_button {
        top: 2px;
        left: 280px;
    }

    .flex_center {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
}

@media (max-width: 405px) {

    .main_right img {
        height: 120px;
        border-radius: 8px ;
    }
}