@font-face {
    font-family: "Host Grotesk";
    src: url("./fonts/HostGrotesk-VariableFont_wght.ttf") format("truetype");
}

body{
    font-family: "Host Grotesk", sans-serif;
    margin:0;
    background-color: #002A32;
    color: #F7F7F7;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    border-bottom: 4px solid #F7F7F7;

}

header img {
    height: 50px;
}




.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_window {
    width: 800px;
    height: 800px;
    background-color: #002A32;
    border: 4px solid #f4ff1c;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    
}

.overlay_left {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay_left img {
    width: 250px;
    border-radius: 16px;;
}

.overlay_right {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper_overlay_window {
    display: flex;

}

.lower_overlay_window {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower_overlay_window span {
    margin-left: 10px;
    margin-right: 10px;
}

.lower_overlay_window button {
    background-color: #F2FF1C;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/BG.png);
    background-size: cover;
    background-position: center;
}

.main_area {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/BG.png);
    background-size: cover;
    background-position: center;    
}

.main_left {
    height: calc(100vh - 258px);
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #F2FF1C;
    border-bottom: 4px solid #F2FF1C;
}

.max_width_1920 {
    max-width: 1920px;
}

.main_left h2 {
    font-size: 40px;
}

#activ_card img{
    width: 300px;
    object-fit: contain;
    border-radius: 15px;
}

.info {
    height: 300px;
    width: 300px;
    border: 2px solid #F2FF1C;
    margin-top: 20px;
}

#commander img {
    height: 200px;
    border-radius: 8px;
}


.main_right {
    height: calc(100vh - 258px);

    padding: 25px;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
}

.main_right h2 {
    margin-left: 5px;
}

.main_right img {
    height: 100px;
    border-radius: 3px;
    margin: 5px;
}

.cards {
    transition: all 75ms ease ;
}

.cards:hover {
    border: 1px solid #F2FF1C;
    scale: 1.15                     ;
    box-sizing: border-box;
}

footer {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 1920px;
    display: flex;
    justify-content: flex-end;
}
.content_policy {
    width: 800px;
    font-size: 12px;
}

.content_policy p{
    margin: 0;
}

.d_none {
    display: none;
}